USE [PHONE_AI]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 18/10/2022 5:08:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](50) NOT NULL,
	[point] [int] NOT NULL,
 CONSTRAINT [PK_BRAND] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 18/10/2022 5:08:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_cpu] [nvarchar](50) NULL,
	[point] [int] NULL,
 CONSTRAINT [PK_CPU] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONE]    Script Date: 18/10/2022 5:08:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[id_cpu] [int] NOT NULL,
	[id_brand] [int] NOT NULL,
	[ram] [int] NOT NULL,
	[widescreen] [float] NOT NULL,
	[image] [nvarchar](50) NOT NULL,
	[price] [money] NOT NULL,
	[label] [nvarchar](3) NOT NULL,
	[ROM] [int] NOT NULL,
	[resolution1] [int] NULL,
	[resolution2] [int] NULL,
 CONSTRAINT [PK_phone] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_BRAND] FOREIGN KEY([id_brand])
REFERENCES [dbo].[BRAND] ([id])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_BRAND]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_CPU] FOREIGN KEY([id_cpu])
REFERENCES [dbo].[CPU] ([id])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_CPU]
GO
